@using TaskDesk.SharedModel.Account.Models;
@page "/signup"
@layout LoginLayout

<div class="content">
    <div class="other-service m-4">
        <MudText Typo="Typo.h4"
                 Align="Align.Center">
            Get Started
        </MudText>
        <MudText Typo="Typo.h5"
                 Align="Align.Center">
            with one of these services
        </MudText>
        <MudButton Href="#"
                   Class="mt-8"
                   Target="_blank"
                   Variant="Variant.Outlined"
                   EndIcon="@Icons.Custom.Brands.Google"
                   Color="Color.Primary">
            Sign up by Google
        </MudButton>
        <MudButton Href="#"
                   Class="mt-2"
                   Target="_blank"
                   Variant="Variant.Outlined"
                   EndIcon="@Icons.Custom.Brands.GitHub"
                   Color="Color.Secondary">
            Sign up by GitHub
        </MudButton>
    </div>
    <div class="separator m-4">
        <div class="vertical-line"></div>
        <p class="or">or</p>
    </div>
    <div class="mail-service m-4">
        <MudText Typo="Typo.h4"
                 Align="Align.Center">
            Get Started
        </MudText>
        <MudText Typo="Typo.h5"
                 Align="Align.Center"
                 class="margin_after-title">
            with your email address
        </MudText>
        <MudForm Model="@model" Class="mt-8">
            <div class="form">
                <MudTextField T="string"
                              Label="First Name"
                              FullWidth=true
                              For="@(() => model.FirstName)" />
                <MudTextField T="string"
                              Label="Username"
                              For="@(() => model.LastName)" />
                <MudTextField T="string"
                              Label="Email"
                              For="@(() => model.Email)" />
                <MudTextField T="string"
                              Label="Password"
                              InputType="InputType.Password"
                              For="@(() => model.Password)" />
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit"
                               Variant="Variant.Outlined"
                               Color="Color.Primary"
                               Class="ml-auto mt-4">
                        Register
                    </MudButton>
                </MudCardActions>
            </div>
        </MudForm>
    </div>
</div>

@code {
    UserModel model = new();
}
